[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
seatable-api = "*"
pandas = "*"
ruff = "*"
pydantic = "*"
python-dotenv = "*"
rich = "*"
pygithub = "*"
rich-argparse = "*"


[requires]
python_version = "3.12"

[scripts]
dev = "python src/main.py -d"
start = "python src/main.py"
archive = "python src/main.py -a"
