[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]


[dev-packages]
seatable-api = "*"
pandas = "*"
ruff = "*"
pydantic = "*"
python-dotenv = "*"
rich = "*"


[requires]
python_version = "3.12"

[scripts]
dev = "python src/main.py dev"
test = "python src/main.py test"
prod = "python src/main.py prod"